{{# extracted }}
opam-version: "2.0"
maintainer: "{{& opam-file-maintainer }}{{^ opam-file-maintainer }}palmskog@gmail.com{{/ opam-file-maintainer }}"

homepage: "https://github.com/{{ organization }}/{{ shortname }}"
dev-repo: "git+https://github.com/{{ organization }}/{{ shortname }}.git"
bug-reports: "https://github.com/{{ organization }}/{{ shortname }}/issues"
{{# license }}license: "{{ identifier }}"{{/ license }}

synopsis: "{{& extracted_synopsis }}"
description: """
{{& extracted_description }}"""

build: [make "-j%{jobs}%" "{{& target }}"]
depends: [
{{# supported_ocaml_versions }}
  "ocaml" {{& opam }}
{{/ supported_ocaml_versions }}
{{# supported_coq_versions }}
  "coq" {{& opam }}
{{/ supported_coq_versions }}
{{# dependencies }}
{{# opam }}
  "{{ name }}" {{& version }}
{{/ opam }}
{{/ dependencies }}
{{# extracted_dependencies }}
{{# opam }}
  "{{ name }}" {{& version }}
{{/ opam }}
{{/ extracted_dependencies }}
]

authors: [
{{# authors }}
  "{{& name }}{{# email }} <{{& email }}>{{/ email }}"
{{/ authors }}
]
{{/ extracted }}
