opam-version: "1.2"
maintainer: "{{& opam-file-maintainer }}{{^ opam-file-maintainer }}palmskog@gmail.com{{/ opam-file-maintainer }}"

homepage: "https://github.com/{{ organization }}/{{ shortname }}"
dev-repo: "https://github.com/{{ organization }}/{{ shortname }}.git"
bug-reports: "https://github.com/{{ organization }}/{{ shortname }}/issues"
{{# license }}license: "{{ identifier }}"{{/ license }}

build: [make "-j%{jobs}%"]
install: [make "install"]
remove: ["rm" "-R" "%{lib}%/coq/user-contrib/{{ namespace }}"]
depends: [
{{# supported_coq_versions }}
  "coq" {{& opam }}
{{/ supported_coq_versions }}
{{# dependencies }}
{{# opam }}
  "{{ name }}" {{& version }}
{{/ opam }}
{{/ dependencies }}
]

tags: [
{{# categories }}
  "category:{{ name }}"
{{/ categories }}
{{# keywords }}
  "keyword:{{& name }}"
{{/ keywords }}
{{# date }}
  "date:{{ date }}"
{{/ date }}
  "logpath:{{ namespace }}"
]
authors: [
{{# authors }}
  "{{& name }}{{# email }} <{{& email }}>{{/ email }}"
{{/ authors }}
]
