opam-version: "1.2"
maintainer: "{{& opam-file-maintainer }}{{^ opam-file-maintainer }}palmskog@gmail.com{{/ opam-file-maintainer }}"

homepage: "https://github.com/coq-community/{{ shortname }}"
dev-repo: "https://github.com/coq-community/{{ shortname }}.git"
bug-reports: "https://github.com/coq-community/{{ shortname }}/issues"
{{# license }}license: "{{ shortname }}"{{/ license }}

build: [make "-j%{jobs}%"]
install: [make "install"]
remove: ["rm" "-R" "%{lib}%/coq/user-contrib/{{ namespace }}"]
depends: [
{{# supported_coq_versions }}
  "coq" {{& opam }}
{{/ supported_coq_versions }}
{{# dependencies }}
{{# opam }}
  "{{ name }}" {{& version }}
{{/ opam }}
{{/ dependencies }}
]

tags: [
{{# keywords }}
  "keyword:{{ name }}"
{{/ keywords }}
{{# categories }}
  "category:{{ name }}"
{{/ categories }}
  "logpath:{{ namespace }}"
]
authors: [
{{# authors }}
  "{{ name }}"
{{/ authors }}
]
