# {{ fullname }}

[![Travis][travis-shield]][travis-link]
[![Contributing][contributing-shield]][contributing-link]
[![Code of Conduct][conduct-shield]][conduct-link]
[![Gitter][gitter-shield]][gitter-link]
{{# paper }}
[![DOI][doi-shield]][doi-link]

[doi-shield]: https://zenodo.org/badge/DOI/{{ doi }}.svg
[doi-link]: https://doi.org/{{ doi }}
{{/ paper }}

[travis-shield]: https://travis-ci.com/coq-community/{{ shortname }}.svg?branch=master
[travis-link]: https://travis-ci.com/coq-community/{{ shortname }}/builds

[contributing-shield]: https://img.shields.io/badge/contributions-welcome-%23f7931e.svg
[contributing-link]: https://github.com/coq-community/manifesto/blob/master/CONTRIBUTING.md

[conduct-shield]: https://img.shields.io/badge/%E2%9D%A4-code%20of%20conduct-%23f15a24.svg
[conduct-link]: https://github.com/coq-community/manifesto/blob/master/CODE_OF_CONDUCT.md

[gitter-shield]: https://img.shields.io/badge/chat-on%20gitter-%23c1272d.svg
[gitter-link]: https://gitter.im/coq-community/Lobby

{{& description }}

{{# paper }}
More details about the project can be found in the paper
[{{ title }}]({{ url }}).
{{/ paper }}

## Meta

- Author(s):
{{# authors }}
  - {{ name }}{{# initial }} (initial){{/ initial }}
{{/ authors }}
- Coq-community maintainer(s):
{{# maintainers }}
  - {{ name }} ([**@{{ nickname }}**](https://github.com/{{ nickname }}))
{{/ maintainers }}
{{# license }}
- License: [{{ fullname }}]({{ file }}{{^ file }}LICENSE{{/ file }})
{{/ license }}
{{# supported_coq_versions }}
- Compatible Coq versions: {{ text }}
{{/ supported_coq_versions }}
{{# plugin }}
- Compatible OCaml versions: all versions supported by Coq
{{/ plugin }}
- Additional dependencies:{{# dependencies }}
  - {{ description }}
{{/ dependencies }}{{^ dependencies }} none{{/ dependencies }}

## Building and installation instructions

The easiest way to install the latest released version is via
[OPAM](https://opam.ocaml.org/doc/Install.html):

```shell
opam repo add coq-released https://coq.inria.fr/opam/released
opam install coq-{{ shortname }}
```

To instead build and install manually, do:

``` shell
git clone https://github.com/coq-community/{{ shortname }}
cd {{ shortname }}
make   # or make -j <number-of-cores-on-your-machine>
make install
```

After installation, the included modules are available under
the `{{ namespace }}` namespace.

{{& documentation }}
